<div class="card mb-4">
            <div class="card-body pb-2">
                <div class="row">
                    <div class="text-break">
                        <a href="{{url}}" class="nodecoration" alt="{{title}}">
                            <h2 class="card-title pt-1">{{title}}</h2>
                        </a>
                    </div>
                </div>
                <div class="row border-bottom border-top pt-3">
                    <div class="col-auto text-break">
                        <p>{{excerpt}}</p>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-auto social-icons">
                        {{> "components/post-icons"}}
                    </div>
                </div>
                {{!-- 
                <div class="row mb-2">
                    <div class="col-auto cc_index_meta"><a href="{{url}}" class="nodecoration">Read here <i class="fas fa-desktop"></i></a></div>
                    <div class="col-auto opacity-50"><time datetime="{{ time .Date }}" itemprop="datePublished">Posted {{date published_at format="MMM DD - YYYY"}}</time></div>
                    <div class="col-auto"></div>
                </div> 
                --}}
            </div>
        </div>