{{!< default}}

{{!-- Everything inside the #post tags pulls data from the POST --}}
{{#post}}

<div class="card mt-4">
        <div class="card-body pb-2">

                <div class="row">
                    <div class="col-10 text-break pt-1"><h1 class="card-title">{{title}}</h1></div>
                </div>

                <div class="row">
                    <div class="col-10 opacity-50 pt-2">
                        Posted <time datetime="{{ time .Date }}" itemprop="datePublished">{{date published_at format="MMM DD - YYYY"}}</time> in {{tags}}
                        <hr>
                    </div>
                </div> 

                <div class="content row mb-3 justify-content-start">
                    {{content}}
                </div>
        </div>
</div>
<!--
<div class="comment">

    {{> "post-comment"}}   

</div>-->

{{/post}}